# Auto detect text files
* text=auto

# Source code
*.js text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# Config files
.gitignore text eol=lf
.gitattributes text eol=lf
.env.example text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
